{% extends 'base.html' %}
{% block content %}
<div class="about-author">
    <div class="about-author-text">
        Студент 2 курса <a href="https://mtuci.ru/"> Московского технического университета связи и информатики (сокр.
        МТУСИ)</a>. Изучаю Python, JavaScript и C#. Занимаюсь фрилансом - пишу сайты, парсеры и приложения для клиентов.
        Изучил Flask, Django и Django Rest Framework, благодаря чему написал более 5 полноценных веб-приложений, а также
        разработал для некоторых из них пользовательский интерфейс с использованием HTML, CSS и JavaScript. Разработал
        несколько Telegram ботов с помощью библиотеки Telebot для Python. Написал более 10 десктопных приложений с
        помощью PyQT5 и C# Windows Forms. Создал продукт для курсовой работы на языке C# - приложение для тестирования
        студентов. Решил более ста алгоритмических задач на LeetCode и изучил базовые алгоритмические структуры, успешно
        применяю их при решении практических задач, что приносит дополнительную оптимизацию продуктам.
    </div>
    <img class="author-image" src="{{ url_for('static', filename='img/author.jpg') }}" width="200" height="300">
</div>
{% endblock %}