{% extends 'form-background.html' %}
{% block content %}
<form method="POST" enctype="multipart/form-data" class="form">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {% for field in form %}
    <div class="input-box">
        {% if field.widget.input_type != 'hidden' %}
        <div>{{ field }}</div>
        {% endif %}
        {% if field.errors %}
        {% for error in field.errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <div class="non-field-errors">
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="form-error">{{ error }}</div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="form-buttons">
        <button type="cancel" class="cancel-button" onclick="window.history.back();">Назад</button>
        <button type="submit" class="submit-button">Зарегистрироваться</button>
    </div>
</form>
{% endblock %}