{% extends 'base.html' %}
{% block content %}
<div class="post">
    <div class="post-title">{{ post.title }}</div>
    <a class="profile-href" href="{{ url_for('posts.profile', username=post.user.username) }}">
        <div class="post-header">
            <div class="post-profile-info">
                {% if post.user.image %}
                <img class="post-picture" src="{{ url_for('media', filename=post.user.image) }}">
                {% else %}
                <img class="post-picture" src="{{ url_for('static', filename='img/no-pic.jpg') }}">
                {% endif %}
                <div class="post-profile-username">{{ post.user.username }}</div>
            </div>
            <div>{{ post.time }}</div>
        </div>
    </a>
    <div class="post-text">{{ post.text }}</div>
</div>
<div class="comments-container">
    <form method="POST" action="{{ url_for('posts.send_comment', post_id=post.id) }}" enctype="multipart/form-data"
          class="comment-form">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {% for field in form %}
        <div class="comment-input-box">
            {% if field.widget.input_type != 'hidden' %}
            <div class="comment-field">{{ field }}</div>
            {% endif %}
            {% if field.errors %}
            {% for error in field.errors %}
            <div class="form-error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <div class="non-field-errors">
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="form-error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-buttons">
            <button type="submit" class="comment-submit-button">Отправить</button>
        </div>
    </form>
    <div class="comments">
        {% for comment in comments %}
        <div class="comment">
            <div class="comment-header">
                {{ comment.user.username }}
                {{ comment.time }}
            </div>
            <div class="comment-text">
                {{ comment.text }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}